{% extends "base.html" %}
{% block content %}
<h1>{{ Schedule.title }}</p>
<p>{{ Schedule.lecturer }}</p>
<p>{{ Schedule.location }}</p>
<p>{{ Schedule.category }}</p>
<p>{{ Schedule.description }}</p>
{% endblock %}