{% extends 'base.html' %}

{% block content %}
	<section>
			<div class="box">
				<h2>Hello Everyone!</h2>
	            <h2>Let me introduce myself.</h2>
	            <h5>My name is Nur Wasi Na'wa. I'm a student at faculty of computer science in university of indonesia. I like watching Thai movie/series and listening to music.</h5>
			</div>
	</section>
{% endblock %}