{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section>
		<div class="box-p">
            <h2>In this page, i would like to give you some recommendation of Thai movie and Thai series.</h2>
		</div>
	</section>
	
	<main>
		<div class="boxx"><img src="{% static 'story_4/img/bad-genius.jpeg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/Homestay.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/FriendZone.jpeg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/A-Gift.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/CLTCL.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/The-Gifted.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/Gift-for-someone-you-hate.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/Wolf.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/Blacklist.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/my-ambulance.jpg' %}"></div>
	</main>
{% endblock %}